/*#encabezado {
    color: blueviolet;
    font-weight: bold;
}
#tituloPrincipal {
    color: aquamarine;
    font-size: 50px;
}
.parrafosCentrados {
    text-align: center;
    font-weight: bold;
    color: fuchsia;
}
.textoVerde{
    color: greenyellow;
}

p, h1, span{
    color: blue;
}

a:link{
    background-color: green;
    color: white;
}
a:visited{
    background-color: green;
    color: white;
}

a:hover {
    background-color: darkblue;
    color: white;
}

p:nth-child(odd){
    background-color: darksalmon
}
p:nth-child(even){
    background-color: seagreen
}*/


/* ********************************************   */

#barraLateral {
    position: absolute;
    height: 81%;
    top: 12%;
    left: 0;
    width: 20%;
    background-color: burlywood;
    padding: 1%;
}

#contenido{
    position: absolute;
    height: 81%;
    top: 12%;
    left: 20%;
    width: 80%;
    background-color: beige;
    padding: 1%;
}
#footer {
    position: absolute;
    height: 7%;
    top: 93%;
    left: 0;
    width: 100%;
    background-color: olive;
    padding: 1%;
}